<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<% if (oneModel){ %>
			<form class="form-horizontal" method="POST" action="/updateModelStruts" role="form">
				<input type="hidden", name="oneModel[_id]", value="<%= oneModel._id%>" />
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 名称(英文) </label>

					<div class="col-sm-9">
						<input type="text" name="oneModel[name]" value="<%= oneModel.name%>" id="form-field-1" placeholder="名称(英文)" class="col-xs-10 col-sm-5" />
					</div>
				</div>

				<div class="space-4"></div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 备注(汉语) </label>

					<div class="col-sm-9">
						<input type="text" name="oneModel[remark]" value="<%= oneModel.remark%>" id="form-field-1" placeholder="备注(汉语)" class="col-xs-10 col-sm-5" />
					</div>
				</div>

				<div class="space-4"></div>
				<input type="hidden" id="time" name="oneModel[date]" vulue="<%= oneModel.date%>" />

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 发布人 </label>

					<div class="col-sm-9">
						<input type="text" name="oneModel[author]" value="<%= oneModel.author%>" id="form-field-2" placeholder="发布人" class="col-xs-10 col-sm-5" />
						
					</div>
				</div>
				
				<div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-9">
						<button class="btn btn-info" type="submit">
							<i class="icon-ok bigger-110"></i>
							修改
						</button>

						&nbsp; &nbsp; &nbsp;
						<button class="btn" type="reset">
							<i class="icon-undo bigger-110"></i>
							重置
						</button>
					</div>
				</div>
			</form>
		<% } else { %>
			<form class="form-horizontal" method="POST" action="/addModelStruts" role="form">
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 名称(英文) </label>

					<div class="col-sm-9">
						<input type="text" name="_list[name]" id="form-field-1" placeholder="名称(英文)" class="col-xs-10 col-sm-5" />
					</div>
				</div>

				<div class="space-4"></div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 备注(汉语) </label>

					<div class="col-sm-9">
						<input type="text" name="_list[remark]" id="form-field-2" placeholder="备注(汉语)" class="col-xs-10 col-sm-5" />
						
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 发布人 </label>

					<div class="col-sm-9">
						<input type="text" name="_list[author]" id="form-field-2" placeholder="发布人" class="col-xs-10 col-sm-5" />
						
					</div>
				</div>
				<input type="hidden" id="time" name="_list[date]" vulue="" />
				<div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-9">
						<button class="btn btn-info" type="submit">
							<i class="icon-ok bigger-110"></i>
							提交
						</button>

						&nbsp; &nbsp; &nbsp;
						<button class="btn" type="reset">
							<i class="icon-undo bigger-110"></i>
							重置
						</button>
					</div>
				</div>
			</form>
		<% }%>
		
	</div><!-- /.col -->
</div><!-- /.row -->