<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<% if (oneModel){ %>
			<form class="form-horizontal" method="POST" action="/updateModel" role="form">
				<input type="hidden", name="oneModel[_id]", value="<%= oneModel._id%>" />
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 名称 </label>

					<div class="col-sm-9">
						<input type="text" name="oneModel[name]" value="<%= oneModel.name%>" id="form-field-1" placeholder="名称" class="col-xs-10 col-sm-5" />
					</div>
				</div>

				<div class="space-4"></div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 类型 </label>

					<div class="col-sm-9">
						<input type="text" name="oneModel[type]" value="<%= oneModel.type%>" id="tagSel" placeholder="类型" class="col-xs-10 col-sm-5" onclick="showTagsMenu('/modelType','tagSel','menuContent','tagsTree');" />
						<div class="input-group-btn">
						    <button type="button" class="btn btn-default dropdown-toggle"  id="menuBtn" onclick="showTagsMenu('/modelType','tagSel','menuContent','tagsTree'); return false;">选择 <span class="fa icon-caret-down"></span></button>
						    <div id="menuContent" class="menuContent dropdown-menu" style="display:none; position: absolute;z-index: 999">
						        <ul class="ztree" id="tagsTree" style="margin-top: 0;width: 180px;max-height: 200px;overflow-y: auto;padding: 10px;background: #fff;"></ul>
						    </div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 发布人 </label>

					<div class="col-sm-9">
						<input type="text" name="oneModel[author]" value="<%= oneModel.author%>" id="form-field-2" placeholder="发布人" class="col-xs-10 col-sm-5" />
						
					</div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 结构 </label>

					<div class="col-sm-9">
						
						<input type="text" name="oneModel[struts]" value="<%= oneModel.struts%>"  id="tagSel1" placeholder="结构属性" class="col-xs-10 col-sm-5" onclick="showTagsMenu('/modelStruts','tagSel1','menuContent1','tagsTree1');"/>
						<div class="input-group-btn">
						    <button type="button" class="btn btn-default dropdown-toggle"  id="menuBtn1" onclick="showTagsMenu('/modelStruts','tagSel1','menuContent1','tagsTree1'); return false;">选择 <span class="fa icon-caret-down"></span></button>
						    <div id="menuContent1" class="menuContent dropdown-menu" style="display:none; position: absolute;z-index: 999">
						        <ul class="ztree" id="tagsTree1" style="margin-top: 0;width: 180px;max-height: 200px;overflow-y: auto;padding: 10px;background: #fff;"></ul>
						    </div>
						</div>
					</div>
					
				</div>
				<input type="hidden" id="time" name="oneModel[date]" vulue="<%= oneModel.date%>" />
				<div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-9">
						<button class="btn btn-info" type="submit">
							<i class="icon-ok bigger-110"></i>
							修改
						</button>

						&nbsp; &nbsp; &nbsp;
						<button class="btn" type="reset">
							<i class="icon-undo bigger-110"></i>
							重置
						</button>
					</div>
				</div>
			</form>
		<% } else { %>
			<form class="form-horizontal" method="POST" action="/addModel" role="form">
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 名称 </label>

					<div class="col-sm-9">
						<input type="text" name="_list[name]" id="form-field-1" placeholder="名称" class="col-xs-10 col-sm-5" />
					</div>
				</div>

				<div class="space-4"></div>

				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 类型 </label>

					<div class="col-sm-9">
						<input type="text" name="_list[type]" id="tagSel" placeholder="类型" class="col-xs-10 col-sm-5" onclick="showTagsMenu('/modelType','tagSel','menuContent','tagsTree');"/>
						<div class="input-group-btn">
						    <button type="button" class="btn btn-default dropdown-toggle"  id="menuBtn" onclick="showTagsMenu('/modelType','tagSel','menuContent','tagsTree'); return false;">选择 <span class="fa icon-caret-down"></span></button>
						    <div id="menuContent" class="menuContent dropdown-menu" style="display:none; position: absolute;z-index: 999">
						        <ul class="ztree" id="tagsTree" style="margin-top: 0;width: 180px;max-height: 200px;overflow-y: auto;padding: 10px;background: #fff;"></ul>
						    </div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 发布人 </label>

					<div class="col-sm-9">
						<input type="text" name="_list[author]" id="form-field-2" placeholder="发布人" class="col-xs-10 col-sm-5" />
						
					</div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 结构 </label>

					<div class="col-sm-9">
						<input type="text" name="_list[struts]" id="tagSel1" placeholder="结构属性" class="col-xs-10 col-sm-5" onclick="showTagsMenu('/modelStruts','tagSel1','menuContent1','tagsTree1');"/>
						<div class="input-group-btn">
						    <button type="button" class="btn btn-default dropdown-toggle"  id="menuBtn1" onclick="showTagsMenu('/modelStruts','tagSel1','menuContent1','tagsTree1'); return false;">选择 <span class="fa icon-caret-down"></span></button>
						    <div id="menuContent1" class="menuContent dropdown-menu" style="display:none; position: absolute;z-index: 999">
						        <ul class="ztree" id="tagsTree1" style="margin-top: 0;width: 180px;max-height: 200px;overflow-y: auto;padding: 10px;background: #fff;"></ul>
						    </div>
						</div>
					</div>
					
				</div>
				<input type="hidden" id="time" name="_list[date]" vulue="" />
				<div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-9">
						<button class="btn btn-info" type="submit">
							<i class="icon-ok bigger-110"></i>
							提交
						</button>

						&nbsp; &nbsp; &nbsp;
						<button class="btn" type="reset">
							<i class="icon-undo bigger-110"></i>
							重置
						</button>
					</div>
				</div>
			</form>
		<% }%>
		
	</div><!-- /.col -->
</div><!-- /.row -->